{% extends 'core/base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css" />

    {% block javascript %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>
    {% endblock %}

{% endblock %}

{% block contenido %}

    </div> <!-- EL </div> HACE QUE LA IMAGEN COLOCADA QUEDE AJUSTADA AUTOMATICAMENTE A
                LA PANTALLA SIN IMPORTAR SI ALEJAMOS O ACERCAMOS CON EL ZOOM. -->

    <h2 class="titulo_contenedor_sabores">SABORES</h2>

    <div id="estilo_contenedorSabores">
        <img src="{% static 'core/img/fondo10.jpg' %}" class="estilo_imagenSabores">
        <div id="fondoTransparente_sabores">
            <p class="estilo_textoSabores">
                <strong>
                    DULCE DE LECHE
                    <br>
                    <br>
                    DULCE DE LECHE BOMBÓN
                    <br>
                    <br>
                    DULCE DE LECHE CON NUEZ
                    <br>
                    <br>
                    DULCE DE LECHE GRANIZADO
                    <br>
                    <br>
                    DULCE DE LECHE NEGRO
                    <br>
                    <br>
                    CHOCOLATE AL COINTREAU
                    <br>
                    <br>
                    CHOCOLATE AL RHUM
                    <br>
                    <br>
                    CHOCOLATE ALMENDRADO
                    <br>
                    <br>
                    CHOCOLATE AMARGO
                    <br>
                    <br>
                    CHOCOLATE BLANCO
                    <br>
                    <br>
                    CHOCOLATE ITALIANO
                    <br>
                    <br>
                    CHOCOLATE SUIZO
                    <br>
                    <br>
                    MOUSSE DE CHOCOLATE
                    <br>
                    <br>
                    ALMENDRA
                    <br>
                    <br>
                    AMERICANA
                    <br>
                    <br>
                    CAFÉ
                    <br>
                    <br>
                    BANANA SPLIT
                    <br>
                    <br>
                    COCO
                    <br>
                    <br>
                    COCO TOSTADO
                    <br>
                    <br>
                    CON DULCE DE LECHE
                    <br>
                    <br>
                    GRANIZADO DE CHOCOLATE
                    <br>
                    <br>
                    HIGOS CON NUECES
                    <br>
                    <br>
                    KINOTOS AL WHISKY
                    <br>
                    <br>
                    MÁLAGA
                    <br>
                    <br>
                    MARRÓN GLACÉ
                    <br>
                    <br>
                    MASCARPONE
                    <br>
                    <br>
                    PANNA A LA FRUTILLA
                    <br>
                    <br>
                    PISTACHO
                    <br>
                    <br>
                    RUSA
                    <br>
                    <br>
                    STRUDEL
                    <br>
                    <br>
                    SÚPER SAMBAYÓN
                    <br>
                    <br>
                    TIRAMISÚ
                    <br>
                    <br>
                    TRAMONTANA
                    <br>
                    <br>
                    VAINILLA
                    <br>
                    <br>
                    PANETTONE
                    <br>
                    <br>
                    TORRONCINO
                    <br>
                    <br>
                    ANANÁ
                    <br>
                    <br>
                    CIRUELA
                    <br>
                    <br>
                    MENTA GRANIZADA
                    <br>
                    <br>
                    PANNA A LA CEREZA
                    <br>
                    <br>
                    CIRUELA
                    <br>
                    <br>
                    DURAZNO
                    <br>
                    <br>
                    FRAMBUESA
                    <br>
                    <br>
                    FRUTILLA
                    <br>
                    <br>
                    FRUTILLA TROPICAL
                    <br>
                    <br>
                    LIMÓN
                    <br>
                    <br>
                    LIMONADA
                    <br>
                    <br>
                    (LIMONADA, MENTA Y JENGIBRE)
                    <br>
                    <br>
                    MOUSSE DE LIMÓN
                    <br>
                    <br>
                    MARACUYA
                    <br>
                    <br>
                    MELÓN
                    <br>
                    <br>
                    NARANJA CON JENGIBRE
                    <br>
                    <br>
                    MANGO NARANJA
                </strong>
            </p>
        </div>
    </div>

{% endblock %}
